@{
    ViewBag.Title = "Биография";
    Layout = "~/Views/Shared/Light_Layout.cshtml";
}

<div class="bio_content">
    <p>Хотите окунуться в атмосферу праздника, жаркой Испании и провести незабываемый вечер? Тогда положитесь на них! Уникальный и неповторимый коллектив, подобной группы вы не найдете в Екатеринбурге и Свердловской области. Эта группа исполняет достаточно редкую музыку для нашего времени - фламенко, которая трогает сердца многих слушателей. Испанские мотивы, проникновенный вокал, сложная техника и экспрессивная подача - характерные черты екатеринбургских музыкантов. В репертуаре группы вы услышите cover-версии таких исполнителей, как Sting, Antonio Pitingo и легендарной группы Gipsy Kings, а также инструментальные произведения собственного сочинения. Танцуйте под зажигательные ритмы румбы и наслаждайтесь лирическими композициями вместе с TERRA FLAMENCO!</p>
    <br />
    <br />
    <span>Наш канал на Youtube:</span>
    <br />
    <a class="youtube_href" href="http://www.youtube.com/user/TerraFlamenco">http://www.youtube.com/user/TerraFlamenco</a>
    <br />
    <br />
    <span>Terra Flamenco на top-artist.ru:</span>
    <br />
    <a class="ta_href" href="http://ekaterinburg.top-artist.ru/Terra_Flamenco/">http://ekaterinburg.top-artist.ru/Terra_Flamenco/</a>
    <br />
    <br />
    <span>Технический райдер (скачать):</span>
    <br />
    <a class="raider_link" href="~/Content/Files/newraider.docx">Технический райдер</a>
</div>
