@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/Light_Layout.cshtml";
}

<div class="contacts_list">
    <div class="cont_member">
        <h3>По всем вопросам об организации выступлений:</h3>
        <h2>Павел</h2>
        <span>Телефон: +7(961)772-42-04</span>
    </div>
    <div class="cont_member">
        <h3>По вопросам по технической части выступлений (тех.райдер, расстановка инструментов, подготовка сцены):</h3>
        <h2>Константин</h2>
        <span>Телефон: +7(953)009-71-59</span>
    </div>
    <div class="cont_member">
        <h3>Все ваши отзывы и предложения присылайте к нам на почту:</h3>
        <h2></h2>
        <span><a href="mailto:terraflamenco@gmail.com?subject=Feedback_about_TerraFlamenco">Email: terraflamenco@gmail.com</a></span>
    </div>
</div>
