@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "О программе";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Страница описания приложения.</h2>
</hgroup>

<article>
    <p>
        В этой области можно указать дополнительные сведения.
    </p>

    <p>
        В этой области можно указать дополнительные сведения.
    </p>

    <p>
        В этой области можно указать дополнительные сведения.
    </p>
</article>

<aside>
    <h3>Заголовок боковой панели</h3>
    <p>
        В этой области можно указать дополнительные сведения.
    </p>
    <ul>
        <li><a href="~/">Домашняя</a></li>
        <li><a href="~/About">О программе</a></li>
        <li><a href="~/Contact">Контакт</a></li>
    </ul>
</aside>