@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Домашняя страница";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Измените этот шаблон, чтобы быстро приступить к работе над приложением ASP.NET Web Pages.</h2>
        </hgroup>
        <p>
            Дополнительные сведения о ASP.NET Web Pages см. на сайте
            <a href="http://asp.net/webpages" title="ASP.NET Web Pages Website">http://asp.net/webpages</a>.
            На странице приводятся <mark>видеоматериалы, учебники и образцы кода</mark> , позволяющие лучшим образом использовать ASP.NET Web Pages.
            По всем вопросам о ASP.NET Web Pages обращайтесь на
            <a href="http://forums.iis.net/1166.aspx" title="ASP.NET Web Pages Forum">наши форумы</a>.
        </p>
    </div>
</section>
}

<h3>Рекомендуются следующие действия:</h3>

<ol class="round">
    <li class="one">
        <h5>Приступая к работе</h5>
        ASP.NET Web Pages и новый синтаксис Razor — это быстрый, доступный и простой способ сочетания серверного кода и HTML
        для создания динамичных веб-сайтов. Вы можете подключаться к базам данных, добавлять видео и ссылки на социальные сети, а также использовать многие другие функции,
        позволяющие создавать привлекательные сайты по новейшим веб-стандартам.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Дополнительные сведения…</a>
    </li>

    <li class="two">
        <h5>Добавление пакетов NuGet и переход к программированию</h5>
        NuGet упрощает установку и обновление бесплатных библиотек и средств.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Дополнительные сведения…</a>
    </li>

    <li class="three">
        <h5>Найти поставщика услуг размещения веб-сайтов</h5>
        Можно легко найти компанию, предоставляющую услуги размещения приложений в Интернете и отвечающую вашим требованиям к цене и функциональным возможностям.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Дополнительные сведения…</a>
    </li>
</ol>